
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        @using (Html.BeginForm("Create", "ProducersAdmin", FormMethod.Post, new { @styles = "witdh:100%; margin: auto;" }))
        {
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Thêm Nhà sản xuất</h6>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="MaNSX"
                               placeholder="name@example.com" required>
                        <label for="floatingInput">Mã Nhà sản xuất</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPassword" name="TenNSX"
                               placeholder="Password" required>
                        <label for="floatingPassword">Tên Nhà sản xuất</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example" name="Tinhtrang" required>
                            <option selected>Tình trạng</option>
                            <option value="0">Chưa khóa</option>
                            <option value="1">Khóa</option>
                        </select>
                        <label for="floatingSelect">Open to select value</label>
                    </div>

                    <div class="button-container d-flex mt-4">
                        <button type="submit" class="btn btn-add">Thêm</button>
                    </div>

                </div>
            </div>
        }

    </div>
</div>
<!-- Form End -->
